<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header ::header_resources">
</head>

<body>
<nav th:insert="fragments/navbar :: nav_fragment"></nav>

<div class="container">
    <div class="card">
        <div class="card-header" card bg-info text-white>
            <h2>Registration Form</h2>
        </div>
        <div class="card-body">
            <form th:action="@{/admin/product/add}" method="POST" th:object="${dto}">
                <div class="cool-sm-12">
                    <div class="row">
                        <div class="col-sm-6 form-group">
                            <label>Product Name</label>
                            <input type="text" th:field="*{name}" placeholder="Enter Product Name..."
                                   class="form-control">
                        </div>

                        <div class="col-sm-6 form-group">
                            <label>Price</label>
                            <input type="number" th:field="*{price}" placeholder="Enter Price..."
                                   class="form-control">
                        </div>
                    </div>
                </div>
            </form>

        </div>
        <div class="card-footer">Footer</div>
    </div>
</div>



<footer th:insert="fragments/footer :: footer_fragment"></footer>
</body>
</html>